# Системные файлы операционных систем
.DS_Store
Thumbs.db

# Папки виртуального окружения (они весят много, их не пушат)
venv/
.venv/
env/
.env
db

# Кэш Python
__pycache__/
*.pyc

logs/

ngrok*
backend/prompts/system_role.txt
